/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
/.lein-*
/.env
*.log
.idea/
houserules.iml
resources/public/js/
.vagrant/
database/
node_modules/
.sass-cache/
resources/public/css/
settings.yaml
