<html>
  <head>
      <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=Edge">
      <title>Houserules</title>
      {% if dev %}
        {% style "/static/css/semantic.css" %}
        {% style "/static/css/darkroom.min.css" %}
        {% style "/static/css/styles.css" %}
      {% else %}
        {% style "/static/css/styles.min.css" %}
      {% endif %}
  </head>
  <body id="app">
    <script type="text/javascript">
        var context = "{{servlet-context}}";
    </script>
    {% if dev %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.11.2/react.js"></script>
      {% script "/static/js/out/goog/base.js" %}
      {% script "/static/js/app.js" %}
      <script type="text/javascript">goog.require("houserules.app");</script>
    {% else %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.11.2/react.min.js"></script>
      {% script "/static/js/app.js" %}
    {% endif %}
  </body>
</html>