.window
  z-index: 9000
  +centered
  
  background-color: white
  width: span(5)
  .placeholder
    width: 100%
    height: 66%
    border-style: dashed
    border-color: gray
    border-width: 0.5em
    border-radius: 1.5em
    margin-bottom: 1em
    display: flex
    align-items: center
    justify-content: center
    font-size: 1.5em
    color: gray
    font-weight: bold
  img
    max-width: 100%
    max-height: 66%
  button
    float: right
  .actions
    +clearfix